html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    //height: 100%;
    display: table;
    color: slategray;
    background-color: white;
    font-family: 'Hind', Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.columns {
    width: 100%;
    display: flex;
}

.half {
    width: 50%;
}