html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    color: slategray;
    background-color: white;
    font-family: 'Hind', Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    min-width: 50%;
    text-align: center;
    display: inline-block;
}

.columns {
    width: 100%;
    display: flex;
}

.half {
    width: 50%;
}

footer {
    width: auto;
    clear: both;
    display: block;
    margin-top: 2em;
    padding: .75em 1em;
    color: lighten(slategray, 25%);
    border: 1px solid lighten(slategray, 25%);
}