h1 {
    font-size: 6em;
    margin: 0 0 .3em;
    font-weight: normal;
    text-transform: capitalize;

    strong {
        font-weight: bold;
    }
}

h2 {
    font-size: 4em;
    margin: .3em auto 0;
    font-weight: normal;

    strong {
        font-weight: bold;
        text-transform: capitalize;
    }
}

a:link, a:visited, a:active {
    color: lighten(slategray, 25%);
}

a:hover {
    color: darken(slategray, 15%);
}